.div1{
    border: 10px solid purple ; padding: 40px;  border-radius: 10px;
    margin:40px; border-radius: 10px;
}
.div2{
    border: 10px solid purple; margin:40px; padding: 10px; border-radius: 10px;
}
.div3{
    border: 10px solid purple;padding: 40px; border-radius: 10px;
    margin: 40px; border-radius: 10px;
} 